<a href="https://colab.research.google.com/github/Niharika-20-MAI-01/Winter-2021-Deep-Learning-LabCSE6037-Niharika-20MAI01/blob/main/20MAI0001_DL_single_layer_Perceptron_Prob_1_Asgn_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DL-Lab-CSE6037_Lab-Assignment-1_Problem-1_SLP

Submitted By: 20MAI0001 - NIHARIKA MAITRA

git Repo Link :  https://github.com/Niharika-20-MAI-01/Winter-2021-Deep-Learning-LabCSE6037-Niharika-20MAI01/blob/main/20MAI0001_DL_single_layer_Perceptron_Prob_1_Asgn_1.ipynb

In [117]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from pandas import DataFrame
from matplotlib import pyplot as pyplot
from sklearn.linear_model import Perceptron

from sklearn.model_selection import train_test_split

In [9]:
Input1 = [[1,0,0,1,0,1,1,0,1,1],[0,1,0,0,0,1,0,1,0,0],[1,1,0,1,0,0,1,1,1,1],[0, 	1, 	0, 	1, 	0, 	1, 	0, 	1, 	0,0],
         [1, 	0, 	1, 	0, 	0, 	0, 	1, 	0, 	0,0],[1, 	1, 	1, 	1, 	1, 	1, 	0, 	1, 	1,1],[1, 	1, 	1, 	0, 	1, 	1, 	1, 	1, 	0,1],
         [0, 	1, 	1, 	0, 	1, 	0, 	0, 	0, 	0,1],[1, 	1, 	0, 	1, 	1, 	1, 	1, 	1, 	1,1],[1, 	0, 	0, 	1, 	1, 	0, 	1, 	0, 	1,1]
         ]
#Input2 = [1,0,1,0,0,1,1,0,1,1]
#Input = zip(Input1,Input2)

In [12]:
data = pd.DataFrame(Input1)

In [18]:
var1 = ['X'+ str(s) for s in range(1,11)]
data.columns = var1

In [19]:
print(data.shape)

(10, 10)

In [20]:
print(data.head())

   X1  X2  X3  X4  X5  X6  X7  X8  X9  X10
0   1   0   0   1   0   1   1   0   1    1
1   0   1   0   0   0   1   0   1   0    0
2   1   1   0   1   0   0   1   1   1    1
3   0   1   0   1   0   1   0   1   0    0
4   1   0   1   0   0   0   1   0   0    0

In [21]:
print(data.tail())

   X1  X2  X3  X4  X5  X6  X7  X8  X9  X10
5   1   1   1   1   1   1   0   1   1    1
6   1   1   1   0   1   1   1   1   0    1
7   0   1   1   0   1   0   0   0   0    1
8   1   1   0   1   1   1   1   1   1    1
9   1   0   0   1   1   0   1   0   1    1

In [22]:
print(data)

   X1  X2  X3  X4  X5  X6  X7  X8  X9  X10
0   1   0   0   1   0   1   1   0   1    1
1   0   1   0   0   0   1   0   1   0    0
2   1   1   0   1   0   0   1   1   1    1
3   0   1   0   1   0   1   0   1   0    0
4   1   0   1   0   0   0   1   0   0    0
5   1   1   1   1   1   1   0   1   1    1
6   1   1   1   0   1   1   1   1   0    1
7   0   1   1   0   1   0   0   0   0    1
8   1   1   0   1   1   1   1   1   1    1
9   1   0   0   1   1   0   1   0   1    1

In [33]:
X = data[['X1','X2','X3','X4','X5','X6','X7','X8','X9']]
Y = data['X10']

In [34]:
X

   X1  X2  X3  X4  X5  X6  X7  X8  X9
0   1   0   0   1   0   1   1   0   1
1   0   1   0   0   0   1   0   1   0
2   1   1   0   1   0   0   1   1   1
3   0   1   0   1   0   1   0   1   0
4   1   0   1   0   0   0   1   0   0
5   1   1   1   1   1   1   0   1   1
6   1   1   1   0   1   1   1   1   0
7   0   1   1   0   1   0   0   0   0
8   1   1   0   1   1   1   1   1   1
9   1   0   0   1   1   0   1   0   1

In [35]:
Y

0    1
1    0
2    1
3    0
4    0
5    1
6    1
7    1
8    1
9    1
Name: X10, dtype: int64

Trai Test split

In [185]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=1)
print(Y_train.shape,Y_test.shape,Y.shape)

(8,) (2,) (10,)

In [186]:
X_train = X_train.values
X_test = X_test.values

In [187]:
type(X_train)
type(X_test)

numpy.ndarray

In [189]:
b=4

from random import randint
i = randint(0,X_train.shape[0])

# Building the logic for our ML classification Model with the training data as input feeding into it 
if(np.sum(X_train[i,:])>b):
    print(1)
else:
    print(0)
    
#Building the logic to check whether Model Prediction of Label is same and accurate to the Target Variable Value for particular Feature Vector(X)    
if(Y_train[i]==1):
    print(1)
else:
    print(0)

1
1

In [190]:
#Training accuracy
for b in range(X_train.shape[1]+1):
    accurate_rows = 0
    y_pred = 0
    for x,y in zip(X_train, Y_train):
        y_pred = (np.sum(x)>b)
        accurate_rows+= (y == y_pred)
  
    print('For b= ',b ,'on training set, Accurate rows: ', accurate_rows , 'Accuracy= ',accurate_rows/X_train.shape[0])

For b=  0 on training set, Accurate rows:  6 Accuracy=  0.75
For b=  1 on training set, Accurate rows:  6 Accuracy=  0.75
For b=  2 on training set, Accurate rows:  6 Accuracy=  0.75
For b=  3 on training set, Accurate rows:  8 Accuracy=  1.0
For b=  4 on training set, Accurate rows:  8 Accuracy=  1.0
For b=  5 on training set, Accurate rows:  6 Accuracy=  0.75
For b=  6 on training set, Accurate rows:  5 Accuracy=  0.625
For b=  7 on training set, Accurate rows:  4 Accuracy=  0.5
For b=  8 on training set, Accurate rows:  2 Accuracy=  0.25
For b=  9 on training set, Accurate rows:  2 Accuracy=  0.25

In [192]:
X_test

array([[0, 1, 1, 0, 1, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1, 0, 1, 0]])

In [193]:
Y_test

7    1
3    0
Name: X10, dtype: int64

In [204]:
#Training  Accuracy
acc_rows=0
t=X_test.shape[0]
b=1
pred=[]
for x,y in zip(X_test, Y_test):
        y_pred1 = (np.sum(x)>b)
        print(y_pred1)
        acc_rows+= (y == y_pred1)
        if(y_pred1==1):
          pred.append(1)
        else:
          pred.append(0)
print(pred)
print('For b= ',b ,'on testing set, Accurate rows: ', acc_rows , 'Accuracy= ',acc_rows/t)

True
True
[1, 1]
For b=  1 on testing set, Accurate rows:  1 Accuracy=  0.5

In [205]:
Y_test

7    1
3    0
Name: X10, dtype: int64

In [206]:
pred

[1, 1]

In [207]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix
print(metrics.confusion_matrix(Y_test,pred))

[[0 1]
 [0 1]]

In [208]:
from sklearn.metrics import accuracy_score
print(metrics.accuracy_score(Y_test,pred))

0.5

In [209]:
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.50      1.00      0.67         1

    accuracy                           0.50         2
   macro avg       0.25      0.50      0.33         2
weighted avg       0.25      0.50      0.33         2

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#Training  Accuracy=  0.7
#Testing Accuracy=  0.5